.keyword{
    color: #856fff;
}
.symbol{
    color: #c3ff20;
}
.word{
    color: whitesmoke;
}
.string{
    color: #ffdfa2;
}
.attibute-l1{
    color: #f0ff69;
}
.attibute-l2{
    color: #b2c035;
}
.methode{
    color: #04d9ff;
}
.function{
    color: #ff5858;
}