:root{
    --editor-primary-color: #092635;
    --editor-secondary-color: #1B4242;
    --editor-tertiary-color: #5C8374;
    --editor-quaternary-color: #9EC8B9;
}
.code-editor{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: var(--editor-primary-color);
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    font-family: monospace;
    font-size: 13px;
    line-height: 1.5;
    color: var(--editor-quaternary-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    overflow: hidden;
    border-radius: 15px;
}
.editor-header{
    height: auto;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--editor-secondary-color);
    border-radius: 3px 3px 0 0;
    box-shadow: 0 1px 5px rgba(0,0,0,.4);
}
.editor-header .editor-name{
    font-size: 16px;
    font-weight: 600;
}
.editor-header .editor-language{
    font-size: 13px;
    font-weight: 600;
}
.editor-container{
    width: 100%;
    height: calc(100% - 30px);
    display: flex;
    align-items: stretch;
    background-color: var(--editor-primary-color);
    border-radius: 0 0 3px 3px;
}
.editor-container .editor-line-numbers-bar{
    width: 30px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--editor-primary-color);
    border-right: 1px solid var(--editor-tertiary-color);
    overflow: auto;
}
.editor-container .editor-line-numbers-bar .editor-line-number{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--editor-tertiary-color);
}
.editor-text-aria{
    width: 100%;
    padding: 10px;
    background-color: var(--editor-primary-color);
    background-color: red;
    border: none;
    outline: none;
    resize: none;
    color: var(--editor-quaternary-color);
    font-family: monospace;
    font-size: 13px;
    line-height: 1.5;
    overflow: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}